<turbo-stream action="replace" target="message_26">
    <template><div id="message_26">
  <p>
    <strong>Body:</strong>
    5
  </p>
  <p>
    <form class="button_to" method="post" action="/messages/26/edit"><button type="submit">Edit this message</button><input type="hidden" name="authenticity_token" value="xcJ88NkRDXNduD61MmKkfEUjUmurHP0Z0nl_U_iMcd_m9DCNta9clJLcCcn-Kll1WvHb1dHwVZ8sU13TPOjcBw" autocomplete="off" /></form> 
  </p>
  <form class="button_to" method="post" action="/messages/26"><input type="hidden" name="_method" value="delete" autocomplete="off" /><button type="submit">Destroy this message</button><input type="hidden" name="authenticity_token" value="RPns4bRIngGA5OskIKvr_RISaJXaZg6uG91GVZXOuVkt9ySesmX2GUjsZ2oQ0AX_pVP1Qgjd347Hc-RNUkDlRQ" autocomplete="off" /></form>
 

</div>
</template></turbo-stream><turbo-stream action="replace" target="notice"><template>Message: 26's edit was canceled by turbo!!</template></turbo-stream>